# Q7) Calculate Mean, Median, Mode, Variance, Standard Deviation, Range &     comment about the values / draw inferences, for the given dataset 

For Points,Score,Weigh> 

Find Mean, Median, Mode, Variance, Standard Deviation, and Range and also Comment about the values/ Draw some inferences.

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Q7.csv")

In [4]:
df.head(10)

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02
5            Valiant    2.76  3.460  20.22
6         Duster 360    3.21  3.570  15.84
7          Merc 240D    3.69  3.190  20.00
8           Merc 230    3.92  3.150  22.90
9           Merc 280    3.92  3.440  18.30

In [5]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [6]:
df.var()

C:\Users\thila\AppData\Local\Temp\ipykernel_3392\1568254755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [7]:
df.mean() #Mean

C:\Users\thila\AppData\Local\Temp\ipykernel_3392\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [8]:
df.median()  #Median

C:\Users\thila\AppData\Local\Temp\ipykernel_3392\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [9]:
df.std()  #Standard Deviation

C:\Users\thila\AppData\Local\Temp\ipykernel_3392\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64